.portadaInicio {
    height: 400px;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 120px;
}

.contenedor-titulo {
    font-size: 50px;
}

.contenedor-titulo h1 {
    font-size: 120px;
    margin: 0;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 32%, rgba(77, 29, 253, 1) 67%, rgba(17, 16, 16, 1) 100%);
    -webkit-background-clip: text;
    /* Usar el gradiente como fondo del texto */
    -webkit-text-fill-color: transparent;
    /* Hacer el texto transparente para mostrar el fondo */
    background-clip: text;
    /* Compatibilidad con otros navegadores */
}

.contenedor-titulo div p {
    font-size: 20px;
}

.contenedor-description {
    height: 200px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contenedor-description div {
    width: 60%;
    font-size: 25px;
}

.redes {
    height: 50px;
    width: 50px;
}

.redes:hover {
    position: relative;
    bottom: 1px;
    transition: 1s ease;
}


@media screen and (max-width: 599px) {
    .portadaInicio {
        height: 500px;
        width: 100%;
        text-align: center;
        padding-top: 30px;
        margin-bottom: 80px;
    }

    .contenedor-titulo h1 {
        font-size: 90px;
    }

    .contenedor-description div {
        width: 93%;
        font-size: 19px;
    }
}

@media screen and (min-width: 600px) and (max-width: 991px) {
    .portadaInicio {
        height: 355px;
        width: 100%;
        text-align: center;
        padding-top: 30px;
    }

    .contenedor-description {
        height: 155px;
        width: 100%;
    }

    .contenedor-titulo h1 {
        font-size: 70px;
    }

    .contenedor-description div {
        width: 79%;
        font-size: 19px;
    }
}