.Menu{
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.514);
    display: flex;
    justify-content: center;
    align-items: center;
}

.barraMenu{
    position: fixed;
    width: 100%;
    top: 0;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.082); /* Fondo semitransparente */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Borde semitransparente */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidad con navegadores WebKit */
    animation: header-scroll linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 200px;
    transition: 5s ease;
    z-index: 100;
}

@keyframes header-scroll {
    to{
        background-color: #191919;
    }
}

.barraMenu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.barraMenu a:hover{
    color: rgba(77, 29, 253, 1);
}

@media screen and (max-width: 599px) {
    .barraMenu {
        background-color: #191919;
        color: white;
    }

    .barraMenu a {
        color: white;
        text-decoration: none;
        font-size: 16px;
    }
}