
.card-proyectos {
    height: 300px;
    width: 100%;
    margin: 10px 0px;
    cursor: pointer;
    background: linear-gradient(#191919, #0f0f0f) padding-box,
        linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    color: white;
    display: flex;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    overflow: hidden;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
    position: relative;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.contenedor-img {
    height: 100%;
    width: 100%;
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    /* Gradiente para la máscara */
    mask-size: cover;
    /* Ajusta la máscara al tamaño del contenedor */
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.948));
    /* Compatibilidad con WebKit */
    -webkit-mask-size: cover;
    overflow: hidden;
}

.contenedor-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-proyectos:hover img {
    scale: 1.05;
    transition: 0.5s ease;
}

.description-proyecto {
    height: 100%;
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.693);
    backdrop-filter: blur(2px);
    opacity: 1;
}

.description-proyecto:hover {
    opacity: 1;
    transition: 0.5s ease;
}


.container-logos {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 10px;
}

.container-logos img {
    width: 25px;
    height: 25px;
}




@media screen and (max-width: 599px) {
    .card-proyectos {
        height: 450px;
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .contenedor-img {
        width: 100%;
        height: 100%;
    }

    .description-proyecto {
        height: 100%;
        width: 100%;
       
        padding-left: 15px;
        padding-bottom: 20px;
        position: relative;
        opacity: 1;
        top: 0;
        background-color: #191919;
    }
}

@media screen and (min-width: 600px) and (max-width: 991px) {
    .card-proyectos {
        height: 300px;
        width: 100%;
        display: flex;

    }

    .contenedor-img {
        height: 300px;
        width: 100%;
        background-color: red;
    }

    .contenedor-img img {
        height: 100%;
        width: 100%;
    }

    .description {
        height: 100%;
        width: 100%;
        padding-top: 10px;
    }
}